@CHARSET "UTF-8";

button {
	width: 90px;
	height: 45px;
}

table, ul {
	margin: auto;
}

table {
	margin-top: 100px;
}

ul {
	width: 150px;
	height: 150px;
	margin-top: 10px;
}

li {
	margin-top: 5px;
}